h1{
    color:yellow;
    text-align: center;
    margin-left: 30px;
    padding:15px;
}
*{
    font-style: italic;
    border:black;
    color: yellow;
    background-color: darkorchid;
    text-align: center;
}
.header{
    background-color: darkorchid;
    display:flex;
    justify-content:space-between;
    border:solid;
    margin:30px;
}

.header *{
    padding:20px;
    font-size: 30px;
}
.footer{
    background-color:darkorchid;
    display:flex;
    justify-content: flex-end;
}

.grid{
    background-color: darkorchid;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
     }

.item{
    position: relative;
}

.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity:0;
}

.item:hover p{
    opacity: 1;
    background-color:transparent;
    color:red;
}

a:link{
    color:blue;
}

a:visited{
    color:red;
}

.menu a{
    margin-right: 30px;
    
}